<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <link rel="stylesheet" href="/css/app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLASMA COUNTER</title>
</head>
<body>
    <div class="container" style="background-color: white;">
        <div class="contact">
            <h1>CHECK THE UPDATED LIST</h1>
            
            <h2>FOR PLASMA : <a target="_blank" style="color: rgb(59, 106, 235);" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/1Y1fuiuh68FSQgrUXB0vMypRdtjxwuuvVHfnZmTIOIf8/edit#gid=0">CLICK HERE</a></h2>
            <h2>FOR BEDS : <a target="_blank" style="color: rgb(59, 106, 235);" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/1dkCx4ecaMCFesMUBNWpQoaSQSReB2E-vJS2sCqp0DdE/edit#gid=0">CLICK HERE</a></h2>
            <h2>FOR OXYGEN : <a target="_blank" style="color: rgb(59, 106, 235);" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/11dusV4fINNig9TCKOJzFknWbcJqwbFBz2qzXSE9MSE4/edit#gid=0">CLICK HERE</a></h2>
            <h2>FOR REMDESIVIR : <a target="_blank" style="color: rgb(59, 106, 235);" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/1YpyGHeayq9vXfjt4BWJXdElcAoBXbRXPxmeSZ31o5e0/edit#gid=0">CLICK HERE</a></h2>
            <h2><br></h2>
            <h2>WEBSITE :<a style="color:rgb(59, 106, 235);" target="_blank" href="https://ikktarahelpline.wordpress.com/">IKKTARA FOUNDATION</a></h2>
            <h2>WHATSAPP GROUP :<a style="color: rgb(59, 106, 235);" href="https://chat.whatsapp.com/Kv70KOlNDKd5CO9xF07F02">JOIN</a></h2>
            <h2>MOBILE NUMBER : <a href="#" style="color: rgb(59, 106, 235);font-family: 'Times New Roman', Times, serif;">7290896969</a></h2>
            
        </div>
    </div>
</body>
</html>