<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    <title>PLASMA COUNTER</title>
</head>
<body>
   <div>
    <h1 style="text-align: center;">PLASMA COUNTER</h1>
    <div class="request" style="text-align: center;background-color: transparent;">
        <button><a href="/request">REQUEST PLASMA</a></button>
    </div>

    <div class="donate" style="text-align: center;background-color: transparent;">
        <button><a href="/donate">DONATE PLASMA</a></button>
    </div>
   </div>
   <div>
    <button style="background-color: white;"><a href="/add"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg> ADD REQUEST</a></button>
</div>
   <div class="contact" style="background-color: transparent;">
       <button style="border-radius: 1rem;">
           <p>CONTACT US</p>
        <p>plasmacounter@gmail.com</p>
       </button>
   </div>
</body>
</html>